- title "#{collection.first.class.to_s.pluralize.titleize}" if collection && collection.first

- if collection.any?
  %table
    %thead
      %tr
        - collection.first.attributes.each do |a|
          - next if ['created_at', 'updated_at', 'id'].include?(a[0])
          %th= a[0].titleize
    %tbody
      - collection.each do |r|
        %tr
          - r.attributes.each do |a|
            - next if ['created_at', 'updated_at', 'id'].include?(a[0])
            %td
              = a[1]
          %td= link_to "Show", resource_url(r)
          %td= link_to "Edit", edit_resource_url(r)
          %td= link_to "Destroy", resource_url(r), :confirm => 'Are you sure?', :method => :delete

%p
  = link_to "New #{collection.first.class.to_s.titleize}", new_resource_url